<div class="full no-padding footer light-cyan centered-text">
  <div class="four spacing"></div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="socials">
        <li><a href="https://uk.linkedin.com/in/hannibow" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/hannibow" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.behance.net/hannibow" target="_blank"><i class="fa fa-behance"></i></a></li>
      </ul>
      <p>Copyright ©2020 {{site.title}}.</p>
      <p>All rights reserved.</p>
      <div class="four spacing"></div>
    </div>
  </div>
  <div class="spacing"></div>
</div>

<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.validate.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/countto/jquery.countTo.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/appear/jquery.appear.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
