<div class="contain-to-grid sticky transparent">
  <nav class="top-bar" data-options="sticky_on: large" data-topbar="">
    <ul class="title-area">
      <li class="">
        <h1>
          <a href="/">
              Hanni Bowcutt
          </a>
        </h1>
      </li>
    </ul>
    <div id="menu-toggler" class="right">
      <a href="#">
        <i class="icon-arrows-hamburger-2"></i>
      </a>
    </div>
    <section class="top-bar-section closed">
      <ul class="right">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/work">Work</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/hanni-bowcutt-cv.pdf">CV</a>
        </li>
      </ul>
    </section>
  </nav>
</div>